<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>p1</title>
    <style>
        body{background-color: aquamarine;}
    </style>
</head>
<body>
<h1>page 1</h1>
<br>
<a href="/p/2">to page 2</a>
</body>
</html>