<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register page</title>
    <style>
        body{background-color: #fcecb8;}
    </style>
</head>
<body>
<h1>register</h1>
<form action="" method="post">
    <input type="hidden" name="Lvl" value="1" />
    <label for="name">שם:</label>
    <input type="text" name="name" id="name" />
    <br>
    <label for="uname">שם משתמש</label>
    <input type="text" name="uname" id="uname" />
    <br>
    <label for="pass">סיסמה</label>
    <input type="text" name="pass" id="pass" />
    <br>
    <button>send</button>
</form>
</body>
</html>